<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ForkFolio"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CRUD"
        tools:targetApi="31">

        <!-- Your other activities -->
        <activity
            android:name=".DisplayRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RecipeActivity"
            android:exported="true" />
        <activity
            android:name=".EditRecipeActivity"
            android:exported="false" />

        <!-- MainActivity should be the default -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Remove the MAIN intent-filter from LandingActivity -->
        </activity>

          <activity android:name=".LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
